<div class="mt-4">
  <div class="text-center">
    <a href="/me/course/store"> <ion-icon name="arrow-redo-outline"></ion-icon></a>
  <h3>Khoa hoc da xoa cua toi</h3>
</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">
        Name
           <a href="?_sort&column=name&type=desc">
          <ion-icon name="caret-down-circle-outline"></ion-icon>
        </a>
        </th>
      <th scope="col">Trinh do</th>
      <th scope="col">Time xoa</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td>{{this.deletedAt}}</td>
      <td>  <a href="" class="btn-restore" data-id="{{this._id}}">Khoi phuc</a></td>
      <td>  <a href="" data-toggle="modal" data-id="{{this._id}}" data-target="#exampleModal">Xoas vinh vien</a></td>
    </tr>
    {{else}}
    <tr>
      <td class="text-center" colspan="5">
Khong co khoa hoc nao duoc xoa
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xoa kHOA hOC</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Ban Co muon xoa khoa hoc vinh vien  ?
      </div>
      <div class="modal-footer">
        <button  id='deletecouser' type="button" class="btn btn-danger">Xoa Khoa Hoc</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>


<!--- form hideen  --->
<form id="formdelete" method="POST" ></form>
<form id="formrestore" method="POST" ></form>

<script>
  document.addEventListener('DOMContentLoaded',function(){
    var idcoursedelete;
    var btndelete = document.getElementById('deletecouser')
    var formdelete = document.forms['formdelete']
    var formrestore = document.forms['formrestore']
    var btnRestore =  $('.btn-restore')
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      idcoursedelete = button.data('id') // Extract info from data-* attributes
  })

    btndelete.onclick = function(){
        formdelete.action='/course/'+idcoursedelete+'/vinhvien?_method=delete'
        formdelete.submit();
    } 

    btnRestore.click(function(e){
        e.preventDefault();
        var restoreID = $(this).data('id')
        formrestore.action='/course/'+restoreID+'/restore?_method=patch'
        formrestore.submit();
  })
       
    })

</script>